/*  ADD your styles below --- WHERE INDICATED ---
    Keep all the comments I have provided.
    Where I have commented "keep," DO NOT touch that line!
    */



body {
    background: #2F5365; /* dark green gray */
    color: #000; /* may be #000 or #fff */
    font-family: 'Verdana', 'Arial', sans-serif; /* keep */
}

header {
    color: #fff;
    background: #383E3E; /* dark gray */
}

article {
    width: 800px; /* keep */
    padding: 2rem; /* keep */
    margin: auto; /* keep */
    border: 1px solid; /* can delete or change */
    color: #000;
    background: #CAE0E3; /* light gray */
}

aside {
    background: #A1B3B5;
    color: #000;
}

footer {
    color: #fff;
    background: #383E3E;
    color: #fff;
}

figure {
    background: #234548;
    color: #fff;
}

a:link {
  color: #C3DADA;
}

a:visited {
  color: #FDFF8A;
}

a:focus {
  color: #E7D5D5;
}

a:hover {
  color: #E7D5D5;
}

a:active {
  color: #C1DCDC;
}

/* --- ADD YOUR STYLES BELOW --- */

/* --- add your PSEUDO CLASSES below this line --- */
